/* style.css */

body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
}

.todo-app {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #343a40;
    display: flex;
    align-items: center;
}

h2 img {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

.input-task {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    box-sizing: border-box;
}

#button {
    margin-top: 10px;
}

#task-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #f8d7da;
}

.task-item button {
    margin-left: 8px;
}

